@charset "UTF-8";
/* CSS Document */

@import url('https://fonts.googleapis.com/css2?family=Forum&family=Patua+One&family=Roboto:wght@300;500&family=Zilla+Slab+Highlight&display=swap');

*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

nav{
    background: black; /*fondo barra de navegación*/
    height: 120px;
    width: 100%;
}
.enlace{ /*clase para definir una zona para sensible para colocar un enlace + vínculo*/
    position: absolute;
    padding: 10px 50px;
}
.logo{
    height: 90px;
}
nav ul{
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
}
nav ul li a{
    color: #FF0004;
	font-family: 'Roboto', sans-serif;
    font-size: 18px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
}
.checkbtn{
    font-size: 30px;
    color: #3E0001;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
section{
    background-size: cover;
    background-position: center center;
    height: calc(100vh - 80px);
}

@media (max-width: 1200px){
    .enlace{
        padding-left: 20px;
    }
    nav ul li a{
        font-size: 16px;
    }
}

@media (max-width: 858px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #CEFBED; /*color de fondo de bloque para menú responsivo*/
        top: 120px; /*posicion sobre top de bloque fondo menú responsivo*/
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size:10px; /*tamaño tipografía de menú responsivo*/
    }
    li a:hover, li a.active{
        background: none;
        color: white; /*color de menú activo en bloque responsivo*/
    }
    #check:checked ~ ul{
        left:0;
    }
}